
HoloApp/Logs/
HoloApp/Temp/
/HoloApp/.vs/HoloApp/v16/.suo
/HoloApp/.vs/HoloApp/v16/Browse.VC.db
/HoloApp/.vs/HoloApp/v16
/.vs
/HoloApp/Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/.obj
